################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MiniGolf/.vs/MiniGolf
/MiniGolf/Binaries/Win64
/MiniGolf/Intermediate
/MiniGolf/Saved
