################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MiniGolf
/Binaries/Win64
/Intermediate
/Saved
/Content/Megascans
/Content/UltraDynamicSky
/Content/BlackAlder
/Content/__ExternalActors__/Level/Environments/Ruins
/Content/__ExternalObjects__/Level/Environments/Ruins
