################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MiniGolf
/Binaries/Win64
/Intermediate
/Saved
/Content/Megascans
